/Practicas/OOP/Ejercicio1/target/
/Practicas/OOP/Práctica 1 Primer Parte/build/
/Practicas/OOP/Práctica 1 Primer Parte/dist/
/Practicas/OOP/Segunda Parte/nbproject/private/
/Practicas/OOP/Práctica 1 Segunda Parte/nbproject/private/
/Practicas/OOP/Práctica 1 Segunda Parte/build/
